@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: rgb(163, 104, 94);
}

header {
    background-color: rgb(97, 63, 63);
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    /*border: 1px dotted;*/
    color: aliceblue;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
    flex: 0 0 200px;
}

header > nav {
   /*border: 1px dotted;*/

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: rgba(202, 115, 34, 0.801);
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: rgb(189, 163, 152);
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}